{{ define "main" }}
    <div class="pl-sm-2">
        <div class="mb-3">
            <h3 class="mb-0">{{ .Title }}</h3>
            {{ if .Params.Subtitle }}
            <h5>{{ .Params.Subtitle }}</h5>
            {{ end }}
            <small class="text-muted">Published {{ .Date.Format "January 2, 2006"  }} | {{ printf "%d min read" .ReadingTime }}</small>
            <div class="TocWrapper">
                <h4>Contents</h4>
                {{ .TableOfContents }}
            </div>
        </div>

        <article>
            {{ .Content | replaceRE "(<h[1-6]\\sid=\"([^\"]+)\"\\s?>)(.+)(</h[1-6]+>)" "${1}<a href=\"#${2}\">${3}</a>${4}" | safeHTML }}
        </article>
    </div>
{{ end }}
